#!/bin/bash
cat << EOF

  ==========================================================================================
  
  ███╗   ███╗███████╗███████╗██████╗ ██╗  ██╗ █████╗ ████████╗   ██╗   ██╗██╗    ██╗ ██████╗
  ████╗ ████║██╔════╝██╔════╝██╔══██╗██║ ██╔╝██╔══██╗╚══██╔══╝   ██║   ██║██║    ██║██╔════╝
  ██╔████╔██║█████╗  █████╗  ██████╔╝█████╔╝ ███████║   ██║█████╗██║   ██║██║ █╗ ██║██║     
  ██║╚██╔╝██║██╔══╝  ██╔══╝  ██╔══██╗██╔═██╗ ██╔══██║   ██║╚════╝██║   ██║██║███╗██║██║     
  ██║ ╚═╝ ██║███████╗███████╗██║  ██║██║  ██╗██║  ██║   ██║      ╚██████╔╝╚███╔███╔╝╚██████╗
  ╚═╝     ╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝       ╚═════╝  ╚══╝╚══╝  ╚═════╝
                                                                                            
  ===========================================================================================
EOF

echo "  "
echo "  Welcome to the UWC Meerkat HPC Cluster."
echo "  "
echo "  Your home directories are kept under shared NFS storage."
echo "  Please be respectful of other users and their data needs."
echo "  "
echo "  You can run your own self-compiled applications or"
echo "  Singularity images, or you can use the ones provided"
echo "  in /software/containers/."
echo "  "
echo "  If you need further assistance, please contact:"
echo "  eresearch-support@uwc.ac.za"
echo "  "